body {
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 2rem;
}

nav a.logo {
    display: block;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    width: 200px; /* 로고의 가로 크기 조정 */
}

nav .links {
    margin-left: auto;
    margin-right: 20px; /* 링크들을 오른쪽으로 이동 */
}

nav .links a {
    color: #333;
    margin-right: 25px;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav .links a:hover {
    color: #007bff;
}

nav .dropdown-menu {
    animation: dropdown-animation 0.3s ease-in-out;
    margin-top: 0;
}

@keyframes dropdown-animation {
    from { 
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav .dropdown-menu a {
    color: #333;
}

nav .dropdown-menu a:hover {
    color: #007bff;
}

nav .login button {
    padding: 8px 14px;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav .login button.signup {
    background-color: #242424;
    color: #fff;
    border-radius: 4px;
}

nav .login button.signup:hover {
    background-color: #e9ecef;
    color: #242424;
}

nav .login button {
    background-color: #242424;
    color: #fff;
}

nav .login button:hover {
    background-color: #e9ecef;
    color: #242424;
}

.navbar-toggler {
    border-color: #007bff;
}

.btns {
    margin-bottom: 20px; /* 버튼 아래 여백 */
    background-color: #000; /* 배경색 검정 */
    color: #fff; /* 텍스트 색상 흰색 */
    border: none; /* 테두리 없음 */
    padding: 10px 20px; /* 위아래 10px, 좌우 20px 여백 */
    text-align: center; /* 텍스트 가운데 정렬 */
    text-decoration: none !important; /* 텍스트 밑줄 없음 (강제로 적용) */
    display: inline-block; /* 버튼을 인라인 블록으로 표시 */
    font-size: 16px; /* 글자 크기 */
    border-radius: 5px; /* 모서리 둥글게 */
    transition: background-color 0.3s, transform 0.2s; /* 배경색과 트랜스폼 애니메이션 */
}

.btns:hover {
    background-color: #333; /* 호버 시 배경색 변경 */
    transform: scale(1.05); /* 호버 시 크기 확대 */
}

.btns:active {
    background-color: #555; /* 클릭 시 배경색 변경 */
    transform: scale(0.95); /* 클릭 시 크기 축소 */
}

.modal-content {
    border-radius: 8px;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}


footer {
    background-color: #fff;
    padding: 1rem 0;
    border-top: 1px solid #e9ecef;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

article {
	background: #fff;
}
